__pycache__
development.ipynb
.ipynb_checkpoints
env
**/compute__*
kanto.py
johto.py
compute__t0.py 
compute__t1.py 
compute__t2.py 
compute__t3.py 
compute__t4.py 
compute__t5.py 
compute__t6.py 
compute__t7.py 
compute__t8.py 
compute__t9.py 
compute__p0.py 
variables.json
